<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.sberdevices.salutevision.mobile" >

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="33" />

    <meta-data
        android:name="salutevision.sdk.version"
        android:value="1.0.6.c55c4d7b" />

</manifest>